description	"PostgreSQL Node Exporter"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 15 5

console log

#setuid {{ postgres_exporter_user }}
#setgid {{ postgres_exporter_group }}

script
    . {{ postgres_exporter_install_path }}/env.vars
    exec {{ postgres_exporter_install_path }}/postgres_exporter {% if postgres_exporter_listen_on %}-web.listen-address={{ postgres_exporter_listen_on }}{% endif %}

end script